<div class="h-[calc(100vh-4rem)] flex justify-evenly items-center">
  <div *ngIf="loading$ | async as loading">
    <p>Cargando...</p>
  </div>
  <app-card-base *ngIf="empleado$ | async as empleado">
    <h3 class="text-2xl text-slate-900 font-bold">Detalle Empleado</h3>
    <app-text-field-base label="DNI" [value]="empleado.dni" />
    <app-text-field-base label="Apellidos" [value]="empleado.apellidos" />
    <app-text-field-base label="Nombres" [value]="empleado.nombres" />
    <app-text-field-base label="Celular" [value]="empleado.celular" />
  </app-card-base>
</div>
