<nav class="w-full h-16 bg-[#18122B] flex items-center justify-start">
  <app-navbar-button-base text="INICIO" goRoute="empleados" />
  <!-- <app-navbar-button-base text="DETALLE" goRoute="empleados/detalle" /> -->
</nav>
