<h3 class="text-2xl text-slate-900 font-bold">Formulario Empleado</h3>
<form [formGroup]="formularioEmpleado" autocomplete="off" (ngSubmit)="guardarEmpleado()">
  <app-input-base id="dni" label="DNI" formControlName="dni" />
  <app-input-base id="apellidos" label="Apellidos" formControlName="apellidos" />
  <app-input-base id="nombres" label="Nombres" formControlName="nombres" />
  <app-input-base id="celular" label="Celular" formControlName="celular" />

  <app-button-base type="submit" label="Guardar Empleado" />
</form>
<p *ngIf="loading$ | async">Insertando...</p>


