<div class="h-[calc(100vh-4rem)] flex justify-evenly items-center">
  <p *ngIf="loading$ | async">Cargando...</p>
  <app-card-base #employeeForm *ngIf="empleado$ | async as empleado">
    <form [formGroup]="formularioEmpleado" autocomplete="off" (ngSubmit)="editarEmpleado()">
      <h3 class="text-2xl text-slate-900 font-bold">Información Empleado</h3>
      <app-input-base id="dni" label="DNI" formControlName="dni" />
      <app-input-base id="apellidos" label="Apellidos" formControlName="apellidos" />
      <app-input-base id="nombres" label="Nombres" formControlName="nombres" />
      <app-input-base id="celular" label="Celular" formControlName="celular" />
  
      <app-button-base type="submit" label="Editar Empleado" />
    </form>
    <p *ngIf="loadingEdit$ | async">Actualizando...</p>
  </app-card-base>
</div>
