
<div class="h-[calc(100vh-4rem)] flex justify-evenly items-center flex-col md:flex-row">
  <app-card-base>
    <app-formulario-empleado />
  </app-card-base>
  <app-card-base>
    <p *ngIf="loadingDelete$ | async">Eliminando...</p>
    <app-lista-empleados />
  </app-card-base>
</div>
