<div class='relative w-full mt-7'>
  <div class="text-3xl p-3 rounded-lg border-2 outline-none w-96 bg-white border-indigo-600 placeholder:italic">{{value}}</div>
  <span class="absolute pointer-events-none rounded-xl py-1 px-2 left-2 -top-5 text-base text-white bg-indigo-600 font-bold">{{label}}</span>
</div>
