<div class='relative w-fit mt-7'>
  <input 
    type="text" 
    [id]="id" 
    class='text-3xl p-3 rounded-lg border-2 outline-none border-indigo-400 focus:border-indigo-600 placeholder:italic peer'
    (input)="cambiaInputText($event)"
    [value]="inputText"
  />
  <label [for]="id" [ngClass]="{ 
  'absolute pointer-events-none rounded-xl py-1 px-2 transition-all ease-in left-2 peer-focus:-top-5 peer-focus:text-base peer-focus:text-white peer-focus:bg-indigo-600 peer-focus:font-bold': true,
  '-top-5 text-base font-bold bg-indigo-600 text-white': tieneTexto,
  'top-2 text-3xl text-slate-400': !tieneTexto
  }">{{label}}</label>
</div>
