<ul *ngIf="empleados$ | async as empleados">
  <li class="bg-white border-b-2 border-indigo-700 w-96 p-3 first:rounded-tl-xl first:rounded-tr-xl last:rounded-bl-xl last:rounded-br-xl flex justify-between items-center" *ngFor="let item of empleados">
    <span>{{item.apellidos}}, {{item.nombres}} <i class="fa-solid fa-arrow-right-to-bracket"></i></span>
    <div class="flex gap-3">
      <button class="bg-blue-600 text-white py-2 px-3 rounded-lg" routerLink="editar/{{item.id}}">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </button>
      <button class="bg-indigo-600 text-white py-2 px-3 rounded-lg" routerLink="{{item.id}}">
        <fa-icon [icon]="faArrowRightToBracket"></fa-icon>
      </button>
      <button class="bg-red-600 text-white py-2 px-3 rounded-lg" (click)="deleteAction(item.id)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </div>
  </li>
</ul>
